<!doctype html>
<html>
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="css/cosmo.bootstrap.min.css">
    <style type="text/css">
        body{background-color: #F9F9F9;}
        textarea{width:100%;margin-bottom: 15px;}
        iframe, textarea{border:solid #ccc 1px;}
        iframe{margin-bottom:20px;}
        .alert {padding: 10px;}
    h2{margin:0;padding:15px 0;}
    h3{font-weight: bold;}
    .canprepop{
      background-color: #F5F5F5;
      padding:10px;
    }
    .navbar-brand{
      font-size:24px;
    }
    .btn-primary {
    color: #ffffff;
    background-color: #198D9A;
    border-color:#198D9A;
    padding-top: 5px;
    padding-bottom: 5px;
}
.btn-default{
  padding-top: 5px;
  padding-bottom: 5px;
}
    .navbar{margin-bottom:0;}
    </style>
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.0.1/handlebars.min.js"></script>
    <script src="templates/offers_td_row.js"></script>
    <script src="templates/rejectoffers_td_row.js"></script>
</head>
<body>
  <nav class="navbar navbar-inverse">
      <div class="container-fluid">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">IMS Manager</a>
        </div>
      </div>
    </nav>



    <div class="container-fluid">
    <div class="row">
      {{{body}}}
 	</div>
 	 </div><!-- /.container -->
</body>
</html>
